@import "../BasicStyles/_base.scss";

// .header {
//     background-color: #000;
// }

.header__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    font-weight: bold;
    font-size: $fz-primary;
    color: $color-main;
}

// .header__logo {
//     margin: 0 auto;
// }

.header__address {
    font-weight: bold;

    position: relative;
    padding-left: calc(24px + 5px);
    
    font-size: $fz-primary;
    color: $color-main;

    &::before{
        content: "";

        width: 32px;
        height: 32px;

        position: absolute;
        left: 0;
        top: -12px;

        background-image: url("./img//icon-marker.svg");
        background-repeat: no-repeat;
    }
}

.header__personal {
    margin-left: 85px;
    font-size: $fz-primary;
    color: $color-main;
}

.header__under {
    display: flex;
}

.header__category {
    padding: 15px 5px;
    width: 100%;
    background-color: #F0F0F4;
}

.header__favorites {
    width: 24px;
    height: 24px;

    background-color: #2f3035;

    -webkit-mask-image: url("./img/icon-favorites.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    transition: box-shadow .2s ease-in;

    &:hover{
        box-shadow: inset 2px 2px 20px 10px #c71ccd;
    }
}

.header__profile {
    width: 24px;
    height: 24px;

    background-color: #2f3035;

    -webkit-mask-image: url("./img/icon-profile.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    transition: box-shadow .2s ease-in;

    &:hover {
        box-shadow: inset 2px 2px 20px 10px #1C62CD;
    }
}

.personal__link{
    display: block;
    min-height: 24px;

    border-bottom: 1px solid #ffffff00;

    &:hover {
        border-bottom: 1px solid #ffffff00;
    }
}

.header__cart {
    display: block;
    width: 24px;
    height: 24px;

    padding: 2px;

    text-align: center;

    background-color: #1C62CD;
    border-radius: 50%;

    color: #fff;

    transform: translate(23px, 5px);

    &:hover{
        color: #fff;
    }
}

.cart__link{
    &:hover{
        color: #fff;
    }
}

.cart__icon {
    min-width: 27px;
    min-height: 27px;

    padding: 2px;
    
    text-align: center;

    background-color: #2f3035;

    -webkit-mask-image: url("./img/icon-cart.svg");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    transform: translate(-27px, -30px);
    transition: box-shadow .2s ease-in;

    &:hover {
        color: #fff;
        box-shadow: inset 2px 2px 20px 10px #1c86cd;
    }

}

.nav__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__item {
    &+& {
        margin-left: 20px;
    }
}