html {
    box-sizing: border-box;
    font-weight: 400;
    text-decoration: none;
    overflow-x: hidden;

    color: $color-main;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    color: inherit;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #00000000;
    transition: border .2s ease-in,
        color .2s ease-in;

    &:hover {
        color: $color-main;

        border-bottom: 1px solid #000;
    }
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.view {
    display: block !important;
}

.flex {
    display: flex !important;
}

// reset texts tag
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
}

// Custom classes
.container {
    width: 80%;
    max-width: 1171px;
    margin: 0 auto;

    @media (max-width: 1024px) {
        width: 90%;
    }

    @media (max-width: 768px) {
        width: 95%;
    }

    @media (max-width: 568px) {
        width: 100%;
        margin: 0;
    }
}

.btn {
    font-size: 18px;
    letter-spacing: 0.1em;

    white-space: nowrap;
    text-transform: uppercase;

    padding: 12px 28px;

    color: $color-white;
    border: 1px solid $color-white;
    box-shadow: 2px 2px 8px 0px $color-primary;

    transition: box-shadow .3s ease-in,
        border .2s ease-in,
        color .2s ease-in;

    &:hover {
        color: $color-primary;

        border: 1px solid $color-primary;
        box-shadow: 2px 2px 8px 0px rgba($color: $color-primary, $alpha: 0.5);
    }

    @media (max-width: 1024px) {
        font-size: 16px;
        padding: 10px 22px;
    }

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 8px 16px;
    }
}