// colors
$color-primary: #1C62CD;
$color-main: #2F3035;
$color-basic: #F0F0F4;
$color-text: #C4C4C4;
$color-white: #FFFFFF; 


// width screen


// fontSize
$fz-main: 18px;
$fz-primary: 20px;
$fz-big: 36px;
$fz-price: 30px;
$fz-small: 14px;